<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引入最新的vue稳定版本-->
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <link rel="stylesheet" href="./css/style.css" type="text/css">
</head>
<body>


<!--input实现单选-->
<div id="app">
    <!--input单选按钮：
      1.name属性表示这个标签的
      2.type标识的是input框的类型
      3.value是该单选框选中时对应的值。
    v-model的关键点：
         1.v-model使用的是vue实例的数据

         2.v-model能够监听用户输入事件，从而更新v-model所对应的vue实例的数据
    -->
    <label for="one">One</label>
    <input type="radio"  id="one"   v-model="selectValue"  value="One"/>

    <label for="two">Two</label>
    <input type="radio"  id="two"   v-model="selectValue"  value="two" />

    <label for="three">Three</label>
    <input type="radio"  id="three"   v-model="selectValue"  value="three" />
    <br>
    <span>当前选取的选框的值:  {{selectValue}}</span>
</div>

<script>
    var  vue=new Vue({
        el:'#app',
        data:{
            selectValue:'one'
        },
        methods:{
            getInputValue: function (param) {
                console.info(param)
                alert("获取到的单选框的值是： "+param);
            }
        }
    });
</script>
</body>
</html>
