<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引入最新的vue稳定版本-->
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>
<body>
 <!--用户自定义事件-->
  <div id="app">
      <p> 总数为: {{total}}</p>
      <!--父组件负责监听名为：increase，reduce的事件，并进行相应处理-->
      <my-component v-on:increase="handleGetTotal"  v-on:reduce="handleGetTotal"></my-component>
  </div>
<script>
     //注册一个组件
     Vue.component('my-component',{
         data: function () {
             return {
                 counter: 0
             }
         },
         methods:{
             handleIncrease: function () {
                 this.counter++;
                 //使用$emit('event_name',param)向父组件发出一个事件
                 this.$emit('increase',this.counter)
             },
             handleReduce: function () {
                 this.counter--;
                 this.$emit('reduce',this.counter);
             }
         },
         //自定义元素
         template: '<div>\n' +
             '          <button v-on:click="handleIncrease">+1</button>\n' +
             '          <button v-on:click="handleReduce">-1</button>\n' +
             '      </div>'
     });
    //创建vue实例
    var  vue=new Vue({
        el:'#app',
        data:{
            total: 0
        },
        methods: {
            //父组件监听到事件之后，进行相应处理
            handleGetTotal: function (total) {
                this.total=total;
            }
        }

    });
</script>
</body>
</html>
